@font-face {
    font-family: norse-bold;
    src: url(./assets/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: 'Nunito', sans-serif;
    overflow: hidden
}

#sidebar {
    position: relative;
    width: 30%;
    height: 100vh;
    background-image: url('assets/background.jpg');
    background-size: cover;
    color: white;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 20px;
    position: relative;
    top: 20vh;
}

#odin-logo {
    width: 15%;
    height: auto;
}

#sidebar h1 {
    font-family: 'norse-bold', Arial, Helvetica, sans-serif;
    font-size: 6em;
}

#sidebar p {
    position: absolute;
    bottom: 10px;
    left: 30%;
}

a {
    color: white;
}

#sign-up {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 50px;
    padding-top: 110px;
}

.form-intro {
    font-weight: 700;
    font-size: 28px;
}

.form-intro:nth-child(2) {
    padding-top: 25px;
    padding-bottom: 40px;
}

#test {
    line-height: 80px;
}

hr {
    position: relative;
    left: -50px;
    width: 140%;
    height: 1px;
    background-color: #eeeeee;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 25px;
}

.form-section {
    display: flex;
    gap: 50px;
}

.form-input {
    display: flex;
    flex-direction: column;
}

#divider {
    background-color: white;
    box-shadow: 0px 5px 5px 1px #c9c9c9;
}

button {
    background-color: #596D48;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgb(218, 218, 218);
}

button:active {
    transform: translateY(5px);
    box-shadow: none;
}

#login {
    font-size: 18px;
}

#sign-up a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

label {
    font-size: 12px;
    font-weight: 900;
    color: #636363;
}

input {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-indent: 10px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 1px 1px 5px rgb(170, 170, 170);
}

#error {
    color: red;
}

.pwd-error {
    outline: none;
    border-color: red;
}
